.board {
  width: 500px;
  max-width: 600px;
  height: 500px;
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 9vw;
  padding-top: 1vw;
  align: center;
  background-image: url("images/board-background.jpeg");
  //https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiS07TqybfdAhXBDOwKHQpPCa0QjRx6BAgBEAU&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fblue%2520background%2F&psig=AOvVaw1x_0yvLGc5nn6mXpKnNCMT&ust=1536914234072541
}

body {
  background-color: rgb(202, 247, 236);
}


.header {
  width: 100%;
  max-width: 600px;
  height: 15vw;
  max-height: 100px;

  font-size: 1.5em;
  background-color: navy;
  color: cyan;
  text-align: center;
  margin: 0 auto;
}

#stars {
  margin-left: 2vw;
  display: block;
  margin-top: 3.5vw;
  font-size: 0.5em;
  width: 35vw;
}

ul {
  width: 20vw;
  list-style-type: none;
  display: block;
  font-size: .5em;
  margin-left: -8vw;
}

li{
  float: left;
  margin-top: 1vw;
}

.score-panel {
  background-color: cyan;
  font-size: 1em;
  font-family: sans-sans-serif;
  color: navy;
  display: flex;
  height: 8vw;
  max-height: 100px;
  min-height: 50px;
  margin-top: -6vw;
}

.move-counter {
  margin-left: 5vw;
  margin-top: 3vw;
  width: 40vw;
  font-size: .7em;
}

button {
  width: 50px;
  height: 50px;
}
.modal-replay {
  width: 60px;
}

.board .card {
  border: 3px solid black;
  border-radius: 6px;
  width: 21%;
  height: 21%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: 	rgb(0,139,139);
  opacity: 1;
  box-shadow: 5px 5px rgba(15,15,15,0.3);
  background-image: url(images/open-background.jpg);
  //https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.all-free-download.com%2Fimages%2Fgraphicthumb%2Fvector_illustration_of_abstract_blue_swirl_background_570166.jpg&imgrefurl=https%3A%2F%2Fall-free-download.com%2Ffree-vector%2Fabstract-blue-yellow-background.html&docid=Nyr1phU9Z_WxRM&tbnid=Jx0lqh8dgcedbM%3A&vet=10ahUKEwifv8Xrz7fdAhUJBSwKHWbyDG0QMwjCASgAMAA..i&w=491&h=368&bih=613&biw=757&q=pale%20blue%20swirl%20background&ved=0ahUKEwifv8Xrz7fdAhUJBSwKHWbyDG0QMwjCASgAMAA&iact=mrc&uact=8
}

.closed.card {
  background-image: url(images/card-background.jpg);
  //https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjuir3Oy7fdAhVOsqQKHaVxCfUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fdark-glow-blue-swirl-background-vector-3928329&psig=AOvVaw3CQEDLOKOI8d8emgY3pPTA&ust=1536914712466468
  background-size: cover;
  color: rgba(3,3,3,0);
}

.match.card {
  background-image: url(images/smiley.png);
  background-size: cover;
  //https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Breathe-face-smile.svg/220px-Breathe-face-smile.svg.png

}
.page {

}
.win {
  z-index: 10;
  position: absolute;
  height: 300px;
  width: 300px;
  border: 5px cyan solid;
  border-radius: 8px;
  font-family: sans-serif;
  color: cyan;
  background-color: navy;
  box-shadow: 5px 5px rgba(255,236,51,0.5);
  text-align: center;
  vertical-align: middle;
  margin-left: 80px;
  margin-top: 80px;
}

header {
  margin-top: 50px;
  font-size: 4em;
}

p {
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}
.timer {
  width: 100px;
  font-size: 0.7em;
  margin-top: 3vw;
}
